/*footer{position: fixed; width: 100%; bottom: 0; z-index: 99;}*/
.main-content{/*margin-bottom: 164px;*/ margin-bottom: 40px; min-height: calc(100vh - 40px);}


@media screen and (max-width: 768px) {

footer{position: relative; width: auto; bottom: 0;}

}

/*@media screen and (max-width: 767px) {

.main-content{margin-bottom: 80px;}

}*/