
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: rgba(255,255,255,0.3);
  padding: 0 !important;
  border:1px solid #ddd;
  margin-top: 20px;
  -webkit-box-shadow: 5px 5px 15px 2px #000;
  box-shadow: 5px 5px 15px 2px #000;
  -moz-box-shadow: 5px 5px 15px 2px #000;
  overflow-x: hidden;
    height: 700px;
    overflow-y: scroll;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
    overflow-x: hidden;
    height: 700px;
    overflow-y: scroll;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(255,255,255,0.5);
    color: #000;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active{
  border: 1px solid #ddd;
  color: #ffffff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#213a54+0,213a54+41,000000+100 */
background: #213a54; /* Old browsers */
background: -moz-linear-gradient(top,  #213a54 0%, #213a54 41%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #213a54 0%,#213a54 41%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #213a54 0%,#213a54 41%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213a54', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


div.bhoechie-tab-content{
  padding: 10px 0 0;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

.list-group-item span.date{
  text-transform: capitalize;
  display: block; 
  font-size: 13px;
}

.list-group-item span.title{
  text-transform: uppercase;
  display: block;
  color: #BBDBFF;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #333;
}

.list-group-item span.link{
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.list-group-item span.count{
float: right;
}

.list-group-item.active span.count{
text-shadow: 1px 1px 1px #000;
}

.list-group-item .count i{
  margin-left: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px #000; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #000; 
}

.date{
  text-transform: uppercase;
  display: block; 
  font-size: 20px;
}

.bhoechie-tab-content h1{
  text-transform: uppercase;
  font-size: 14px;
}

.bhoechie-tab-content h2{
  text-transform: uppercase;
  font-size: 20px;
}

.bhoechie-tab-content a{
    display: block;
    color: #ddd;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 20px;
}

.bhoechie-tab-content a:hover{
    text-shadow: none;
    text-decoration: none;
}

.bhoechie-tab-content hr{
    margin: 0;
    opacity: 0.2;
}

.bhoechie-tab-content a.link{
    color: #BBDBFF;
    font-size: 22px;
    text-shadow: 2px 2px 1px #333;
    font-weight: bold;
}

.bhoechie-tab-content a.link:hover{
  color: #fff;
}

.buttons a{
    display: inline-block;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.buttons a:hover{
  background: none;
  border: 1px solid #000;
}

p.count{
text-shadow: 1px 1px 1px #000;
font-size: 14px;
margin: 0;
}

p.count i{
  margin-left: 10px;
}

.map-section{
  border: 1px solid #ddd;
  padding: 10px;
}